<% if current_user == @organization.owner then %>
  <%=render :partial => '/organizations/manage' %>
<% end %>

<% unless current_user.memberships.where(:organization_id => @organization.id).count > 0 then %>
  <%=link_to 'Request Membership', request_membership_organization_membership_path(@organization), :method => :post %>
<% end %>

<% if @organization.public || current_user.memberships.where(:organization_id => @organization.id).active.count > 0 then %>

  <ul class="userlist">
    <%= render @users %>
  </ul>

<% else %>

  <p>You're not a member of this organization.</p>

<% end %>